<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>MTG Manager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
</head>
<body>
  <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="topNav">
      <a class="nav-link" id="homeLink" href="/">MTG</a>
            <a class="nav-link" href="/cards">View Collection</a>
            <a class="nav-link" href="/cards/search">Add Card</a>
            <a class="nav-link" href="/cards/pack">Open a Pack</a>
            <a class="nav-link" href="/decks">View Decks</a>
            <a class="nav-link" href="/decks/new">New Deck</a>

      </nav>
  </header>
  <br>
  <main id="appendMe">
