body {
  background-color: rgb(33, 37, 42);
}

header {
  background-color: rgb(33, 37, 42);
}

footer {
  background-color: rgb(33, 37, 42);
}
h1 {
  color: white;
}

#topNav {
  border-bottom-style: solid;
  border-color: white;
}
#descInput {
    width: 600px;
}

#bottomNav {
  border-top-style: solid;
  border-color:white;
}

#homeLink {
  color: white;
}


.btn-primary {
  margin: 0px
}

.cardItem {
  float: left;
}

.packCard {
  display: inline-block;
}

#deckH3 {
  display: inline-block;
}

.collectionAdd {
  display: inline-block;
}

#getDeckID {
  display: none;
}

table, th, td {
    border: 1px solid black;
}

.hide-image {
  display: none;
  z-index: 100;
  position: absolute;
}
.preview:hover .hide-image {
  display: block
}

#createDeck {
  margin: 50px 0 0 0;
}
