header {
  background-color: green;
  color: white;
}

footer {
  background-color: green;
  color: white;
}

.cardItem {
  display: inline;
}

.packCard {
  display: inline-block;
}

#deckH3 {
  display: inline-block;
}

.collectionAdd {
  display: inline-block;
}

#getDeckID {
  display: none;
}

table, th, td {
    border: 1px solid black;
}

#tableDiv {
  height: 250px;
  width: 1200px;
  overflow-y: auto;
  overflow-x: auto;
}
