header {
  background-color: green;
  color: white;
}

footer {
  background-color: green;
  color: white;
}

.cardItem {
  float: left;
}

.packCard {
  display: inline-block;
}

#deckH3 {
  display: inline-block;
}

.collectionAdd {
  display: inline-block;
}

#getDeckID {
  display: none;
}

table, th, td {
    border: 1px solid black;
}

.hide-image {
  display: none;
  z-index: 100;
  position: absolute;
}
.preview:hover .hide-image {
  display: block
}
