<% include ../partials/boilerplate %>

<script src="/src/jquery.js"></script>
<script src="/src/openPack.js"></script>
<link rel='stylesheet' type='text/css' href='/css/styles.css'>

<button id="openPack">Open Pack</button>

<% include ../partials/footer %>
