<% include ../partials/boilerplate %>

<script src="/src/jquery.js"></script>
<script src="/src/search.js"></script>
<link rel='stylesheet' type='text/css' href='/css/styles.css'>

<input type="text" id="searchInput" placeholder="Enter Search Term" />
<button id="searchButton">Search</button>

<% include ../partials/footer %>
