<% include ../partials/boilerplate %>

    <div class='quote'>
      <h1><%= card.name %></h1>
      <img src= <%=data.img_url%> </img>
      <br>
      <a href='/cards'>Back to Collection</a>
    </div>

<% include ../partials/footer %>
