<% include ../partials/boilerplate %>

<script src="/src/jquery.js"></script>
<script src="/src/search.js"></script>
<link rel='stylesheet' type='text/css' href='/css/styles.css'>
<h1>Search for Card</h1>
<input type="text" id="searchInput" placeholder="Enter Search Term" />
<button id="searchButton" class="btn-sm btn-primary">Search</button>

<% include ../partials/footer %>
