<% include ../partials/boilerplate %>

<script src="/src/jquery.js"></script>
<script src="/src/openPack.js"></script>
<link rel='stylesheet' type='text/css' href='/css/styles.css'>
<h1>Open Pack</h1>
<select id="setSelect">
  <option value="RIX">Rivals of Ixalan</option>
  <option value="XLN">Ixalan</option>
  <option value="HOU">Hour of Devastation</option>
  <option value="AKH">Amonkhet</option>
  <option value="AER">Aether Revolt</option>
  <option value="KLD">Kaladesh</option>
</select>
<button id="openPack" class="btn-sm btn-primary">Open Pack</button>


<% include ../partials/footer %>
