<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MTG Collection</title>
  </head>
  <body>
    <main>
      <% cards.forEach(card => { %>
      <h1><%= card.name %></h1>
      <% }) %>
    </main>
  </body>
</html>
