<% include ../partials/boilerplate %>

    <main>
      <% cards.forEach(card => { %>
        <% const cardLink = "/cards/" + card.id %>
      <h1><a href=<%= cardLink %>> <%= card.name %></a> Owned: <%= card.num_cards %>x</h1>
      <% }) %>
    </main>

<% include ../partials/footer %>
