<% include ../partials/boilerplate %>

    <main>
      <% cards.forEach(card => { %>
      <h1><%= card.name %>  <%= card.num_cards %></h1>
      <% }) %>
    </main>

<% include ../partials/footer %>
