<% include ../partials/boilerplate %>

    <form method="POST" action="/decks">
      <input name="deck_name" type="text" placeholder="Deck Name" />
      <input type="submit" value="Add it!" />
    </form>

<% include ../partials/footer %>
