<% include ../partials/boilerplate %>

    <form method="POST" action="/decks">
      <input name="deck_name" type="text" placeholder="Deck Name" />
      <br>
      <br>
      <input name="deck_desc" type="text" id="descInput" placeholder="Deck Description" />
      <br>
      <br>
      <input type="submit" value="Create Deck" class="btn-sm btn-primary"/>
    </form>

<% include ../partials/footer %>
